@font-face {
    font-family: DM_Sans;
    src: url('DM_Sans/DMSans-Regular.ttf');
}
body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: DM_Sans;
}
footer {
    color: #ffffff;
    padding-top: 30px;
    margin: 0;
    background: #222426;
    font-family: DM_Sans;
}
.flight-menu {
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid lightgrey;
    box-shadow: 5px 5px 8px #888888;
    padding: 20px;
    bottom: 10%;
    left: 25%;
}
.navbar {
    background:#222426;
}
.btn {
    color: #ffffff;
    background-color: #206EE8;
    border-color: #206EE8;
    box-shadow: rgba(0,0,0,0);
}
.btn-secondary:focus,
.btn-secondary:hover,
.show>.btn-secondary.dropdown-toggle:focus,
.show>.btn-secondary.dropdown-toggle:active,
.show>.btn-secondary.dropdown-toggle,
.btn:hover,
.btn:focus,
.btn:hover {
    color: #ffffff;
    background-color: rgba(32, 110, 232, 0.5);
    border-color: rgba(32, 110, 232, 0.5);
}

.nav-item {
    padding-right: 15px;
}
.nav-link,
.navbar-brand {
    align-self: flex-start;
    cursor: pointer; 
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #206EE8;
}
.navbar-collapse {
    justify-content: flex-start;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0);
}
.header {
    background-image: url('images/header_photo.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.features {
    padding: 1em;
    position: relative;
}
.features img {
    height: 200px;
    width: 400px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}
.destination-box {
    border-radius: 10px;
    margin: 3px;
    padding: 10px;
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 8px #888888;
}
.image-box {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 8px #888888;
}
.callout {
  padding: 20px;
  margin: 20px 0;
  border: 2px solid lightgrey;
  box-shadow: 5px 5px 8px #888888;
  border-left-width: 5px;
  border-left-color: #f0ad4e;
  border-radius: 10px;
}
.wide {
    padding-top: 15px;
    min-width: 100%;
}
.flight-options {
    border: 2px solid lightgrey;
    box-shadow: 5px 5px 8px #888888;
    border-radius: 10px;
}
.black {
    colour: #222426;
}
.white {
    colour: #ffffff;
}
.mmb_box_left {
    border: 2px solid lightgrey;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 0px 8px #888888;
}
.mmb_box_right {
    border: 2px solid lightgrey;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 8px #888888;
}
.mmb_buttons {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 8px #888888;
    border-radius: 10px;
    padding: 10px;
}
.date-picker {
    width: 100%;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.footer-link {

}
.carousel-image {

}
.carousel-container {
    padding: 5px;
    border: 2px solid lightgrey;
    box-shadow: 5px 5px 8px #888888;
    border-radius: 10px;
}
.demo-banner {
    background-color: green;
    text-align: center;
    color: white;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
